.root {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 3px solid #F2F2F2;
  border-top-color: #adadad;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
