.item {
  padding: 10px;
  box-sizing: border-box;
  margin: 0px;
  text-align: start;
}

@media only screen and (min-width: 768px) {
  .item {
    background-color: white;
    border-bottom: 1px solid rgb(224, 224, 224);
  }
}

.item:last-child {
  border-bottom: unset;
}