* {
    box-sizing: border-box;
}
body {
    background-color: #f2f2f2;
    width: 100%;
	overflow-x: hidden;
	font-size: 15px;
}
.loading {
    margin-top: 10px;
    font-style: italic;
}
#root {
	min-height: 100vh;
	position: relative;
	text-align: center;
	padding: 30px;
}
.main input {
    border: 1px solid #e0e0e0;
    height: 35px;
    border-radius: 2px;
	width: 100%;
	padding: 5px 10px;
}
.main input:focus {
    border-color: #e0e0e0;
    outline: none;
    box-shadow: none;
}
.result {
	margin-top: 10px;
}
.result p {
    margin: 0;
    padding: 5px 10px;
    text-align: left;
	line-height: 1.5;
	color: #828282;
}
.result p .marked {
	font-weight: bold;
	color: #000;
}
@media screen and (min-width: 768px){
	body {
		background-color: #fefefe;
	}
	#root {
		width: 90%;
		margin: 0px auto;
		background-color: #f2f2f2;
	}
	#root:before,
	#root:after {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 35px;
		left: 0;
		width: 50px;
		top: 40px;
		-webkit-box-shadow: -15px 0px 40px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: -15px 0px 40px 0px rgba(0, 0, 0, 0.2);
		box-shadow: -15px 0px 40px 0px rgba(0, 0, 0, 0.2);
	}
	#root:after {
		right: 10px;
		left: auto;
		-webkit-box-shadow: 15px 0px 40px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 15px 0px 40px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 15px 0px 40px 0px rgba(0, 0, 0, 0.2);
	}
	.main {
		display: inline-block;
	}
	.main input {
		width: 300px;
	}
	.result {
		background: #fff;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	}
	.result p {
		border-bottom: 1px solid #e0e0e0;
		cursor: pointer;
	}
	.result p:last-child {
		border-bottom: none;
	}
}